<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c009fa0265.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>

        <div><img src="/images/logo-mercado-liebre.svg" height="34px" width="134px"></div>
        <span>Busqueda, productos, marcas</span><br>
        <i class="fa-solid fa-magnifying-glass"></i>
        <div>Compra en cuotas sin tarjeta de creditos</div>
        <nav>
            <ul type="none">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda </li>
                <br>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis Compras</li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
        <h2>Basado en la última visita</h2>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg">
            <p>$6770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
        </article>

        <article>
            <img src="/images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </article>

        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
        </article>

        <article>
            <img src="/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
        </article>
    </section>

    <section>
        <h2>Sección de Ofertas</h2>
        <article>
            <img src="/images/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% off</p>
            <p>Cafetera Moulinex</p>
        </article>

        <article>
            <img src="/images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
        </article>

        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
        </article>

        <article>
            <img src="/images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
        </article>
    </section>

    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section>
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>

    </footer>
</body>
</html>